.form__save {
    width: 100%;
    min-height: 50px;
    background-color: black;
    border-radius: 2px;
    border: none;
    color: #fff;
    margin: 18px auto 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 122%;
    cursor: pointer;
}

.form__save:hover {
    opacity: .6;
}

@media (max-width: 450px) {
    .form__save {
        min-height: 46px;
        margin: 15px auto 0;
        font-size: 14px;
    }
}