.popup__saveButton {
    max-width: 358px;
    width: 100%;
    min-height: 50px;
    background-color: black;
    border-radius: 2px;
    color: #fff;
    margin: 48px auto 37px;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 400;
    line-height: 122%;
    cursor: pointer;
}

.popup__saveButton:hover {
    opacity: .6;
}

@media (max-width: 450px) {
    .popup__saveButton {
        max-width: 238px;
        min-height: 46px;
        margin: 45px auto 25px;
        font-size: 14px;
    }
}