.profile__avatar {
    background-image: url(../../../image/avatar.jpg);
    background-size: cover;
    border-radius: 50%;
    cursor: pointer;
    height: 120px;
    width: 120px;
    background-repeat: no-repeat;
}
.profile__avatar:hover {
    cursor: pointer;
    opacity: 0.2;
}