.card__likeButton {
    background-image: url(../../../image/Like.svg);
    width: 22px;
    height: 19px;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    background-color: #ffffff;
    border: none;
    display: inline-block;
    padding: 0;
    margin-right: 5px;
}

.card__likeButton:hover {
    opacity: .5;
}