.popup__input_job {    
    font-size: 14px;
    line-height: 121%;
    font-weight: 400;
    padding-bottom: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 30px auto 0;
}

@media (max-width: 450px) {
    .popup__input_job {
        max-width: 238px;
    }
}